.main{
    display: flex;
    flex-wrap: wrap;
}
.container{
    flex: 1 1 30%;
    margin: 10px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.image img{
    width: 100%;
}
.anchor{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1440px)and (min-width: 1025px){
    .container{
        flex: 1 1 30%;
    }
}
@media (max-width: 1024px)and (min-width: 768px){
    .container{
        flex: 1 1 45%;
    }
}
@media(max-width: 767px)and (min-width: 425px){
    .container{
        flex: 1 1 90%;
    }
}